.hover-to-child-lightNlue:hover > div{
    background-color: #E1EEF6;
}

.hover-to-child-retweet:hover > div{
    background-color: #DEF1EB;
}

.hover-to-child-like:hover > div{
    background-color: #F7E0EB;
}