.hover-to-child-lightNlue:hover > div{
    background-color: rgb(30, 156, 241, 0.2);
}

.hover-to-child-retweet:hover > div{
    background-color: rgb(0, 184, 122, 0.2);
}

.hover-to-child-like:hover > div{
    background-color: rgb(249, 26, 130, 0.2);
}